<h2>Index</h2>
<ul>
  {{#each data.items as |item|}}
  <li>{{buffer-render data=item.a}} {{buffer-render data=item.b}} {{buffer-render data=item.c}} {{buffer-render data=item.d}}</li>
  <li>{{buffer-render data=item.a}} {{buffer-render data=item.b}} {{buffer-render data=item.c}} {{buffer-render data=item.d}}</li>
  <li>{{component-render a=item.a b=item.b c=item.c d=item.d}}</li>
  <li>{{component-render a=item.a b=item.b c=item.c d=item.d}}</li>
  {{/each}}
</ul>